.headingtwo{
    display: none;
}
.inputtwo{
    display: none;
}
.buttontwo{
    display: none;
}
.error1{
    display: none;
}
.div-one{
    width: 550px;
    height: 60vh;
    background-color: brown;
    text-align: center;
    margin: auto;
}
.div-two{
    width: 550px;
    height: 60vh;
    background-color: brown;
    text-align: center;
    margin: auto;
    display: none;
}